<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>fast-ng-repeat</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="app" ng-controller="main">

    <div class="container clearfix">

        <!--<section>
            <h1>
                <span class="char-{{ $index }}"
                      ng-repeat="char in 'fast-repeat' track by $index">
                    {{ char }}
                </span>
            </h1>
        </section>

        <br>-->

        <section>
            <button ng-click="toggleFastRepeat()"
                    style="min-width: 140px;"
                    ng-class="{ 'active': useFastRepeat }"
                    title="Use fast-repeat instead of ng-repeat?">
                {{ useFastRepeat ? 'fastRepeat' : 'ngRepeat' }}
            </button>
            <button ng-click="addToBegin()">Add 1st</button>
            <button ng-click="add2nd()">Add 2nd</button>
            <button ng-click="addToEnd()">Add last</button>
        </section>

        <div class="row">
            <div class="col-xs-7">
                <input type="search" ng-model="search" autofocus>
            </div>
            <div class="col-xs-5 text-right">
                <button ng-click="swap()">Swap 1st and 2nd</button>
            </div>
        </div>

        <div class="list" ng-if="!useFastRepeat">
            <div class="list-item"
                 ng-repeat="item in list | filter: search"
                 ng-include="'item-template'">
            </div>
        </div>

        <!--ng-include="'item-template'">-->
        <div class="list" ng-if="useFastRepeat">
            <div class="placeholder"></div>
            <div class="list-item"
                 fast-repeat="item in list | filter: search"
                >{{ ::item.value }} </div>
            <div class="placeholder"></div>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="list-diff/index.js"></script>
    <script src="main.js"></script>
    <script src="fastRepeat.js"></script>

    <script type="text/ng-template" id="item-template">
        <span ng-include="'item-template-inner'"></span>
    </script>

    <script type="text/ng-template" id="item-template-inner">
        {{ ::item.value }}
        <!--<span ng-bind-html="item.value | highlight: search"></span>-->
    </script>
</body>
</html>
