<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>fast-ng-repeat</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="app" ng-controller="main">

    <div class="container clearfix">

        <div class="buttons">
            <button ng-click="toggleFastRepeat()"
                    ng-class="{ 'active': useFastRepeat }"
                    title="Use fast-repeat instead of ng-repeat?">fastRepeat</button>
            <button ng-click="addToBegin()">Add first</button>
            <button ng-click="add2nd()">Add 2nd</button>
            <button ng-click="addToEnd()">Add last</button>
        </div>

        <input type="search" ng-model="search" autofocus>

        <div class="list" ng-if="!useFastRepeat">
            <div class="list-item"
                 ng-repeat="item in list | filter: search track by $index"
                 ng-include="'item-template'">
            </div>
        </div>

        <div class="list" ng-if="useFastRepeat">
            <div class="list-item"
                 fast-repeat="item in list | filter: search"
                 ng-include="'item-template'">
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="list-diff/index.js"></script>
    <script src="main.js"></script>
    <script src="fastRepeat.js"></script>

    <script type="text/ng-template" id="item-template">
        <span ng-bind-html="item.value | highlight: search"></span>
    </script>

</body>
</html>